{% extends './layouts/base.html' %}

{% block script %}
    <script src="./blog/blog.js"></script>
{% endblock %}

{% block app-data %}
    {{ JSON.stringify(blog) }}
{% endblock %}

{% block style %}
    <link rel='stylesheet' type="text/css" href='./blog/blog.less' />
{% endblock %}

{% block container %}
    <div class="blog-main">
        <div class="blog-overview">
            <h1 class="title">{{ blog.title }}</h1>

            <div class="img-wrap">
                <img data-src="{{ blog.ext.bg }}" onload="$(this).css('opacity',1);jsmod.util.stretchImg(this, $(this).parent().width(), $(this).parent().outerHeight(), true);">

                <div class="blog-info">
                    <p>
                        <span href="javascript:void(0);"><i class="glyphicon glyphicon-user"></i> {{ blog.author }}</span>
                    </p>

                    <div>
                        <span class="javascript:void(0);"><i class="glyphicon glyphicon-time"></i> {{ blog.update_time|date('Y-m-d H:i:s', -480) }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row blog-center">
            <div class="col-md-3 blog-article-category"></div>

            <div class="col-md-9 blog-article-content">
                <div class="blog-article-markdown markdown-body">
                    {{ blog.content_html|safe }}
                </div>
                <div class="blog-article-suggest"></div>
            </div>
        </div>

        <div class="row blog-bottom">
            <div class="col-md-3">
                <div class="blog-article-info">
                    <div class="wrap">
                        <p>
                            <i class="glyphicon glyphicon-th-list"></i> 分类：
                            {% for tagItem in blog.tag %}
                                <a class="label" href="/search/tag/{{ tagItem }}">{{ tagItem }}</a>
                            {% endfor %}
                        </p>

                        <p>
                            <i class="glyphicon glyphicon-user"></i> 作者：
                            <span > {{ blog.author }}</span>
                        </p>

                        <p>
                            <i class="glyphicon glyphicon-time"></i> 创建：
                            <span > {{ blog.update_time|date('Y-m-d H:i:s', -480) }}</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="blog-article-comment">
                    <!-- 多说评论框 start -->
                    <div class="ds-thread" data-thread-key="{{ blog.id }}" data-title="{{ blog.title }}" data-url="{{ 'http://tedfe.com/blog/' + blog.id }}"></div>
                    <!-- 多说评论框 end -->
                    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                    <script type="text/javascript">
                    var duoshuoQuery = {short_name:"tedfe"};
                        (function() {
                            var ds = document.createElement('script');
                            ds.type = 'text/javascript';ds.async = true;
                            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                            ds.charset = 'UTF-8';
                            (document.getElementsByTagName('head')[0] 
                             || document.getElementsByTagName('body')[0]).appendChild(ds);
                        })();
                        </script>
                    <!-- 多说公共JS代码 end -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

