{% extends './layouts/base.html' %}

{% block script %}
    <script src="./search/search.js"></script>
{% endblock %}

{% block app-data %}
    {{ JSON.stringify(blog) }}
{% endblock %}

{% block style %}
    <link rel='stylesheet' type="text/css" href='./search/search.less' />
{% endblock %}

{% block container-fluid %}
    <div class="search-bg-container" style="background-image:url({{searchBg}})">

        <div class="container search-tab">

            <div class="nav-container">

                <ul class="nav nav-tabs" id="search-nav-container">
                    <li data-target=".keywords-container" class="mod-tab-item {{ type && type.keyword && 'mod-tab-item-active' }}"><a href="javascript:void(0)">Keyword</a></li>
                    <li data-target=".category-container" class="mod-tab-item {{ type && type.category && 'mod-tab-item-active' }}"><a href="javascript:void(0)">Category</a></li>
                    <li data-target=".tag-container" class="mod-tab-item {{ type && type.tag && 'mod-tab-item-active' }}"><a href="javascript:void(0)">Tag</a></li>
                </ul>

                <div class="keywords-container">
                    <div class="content">
                        <input placeholder="输入查询的关键字"/>

                        <a class="btn btn-link">Go</a>
                    </div>
                </div>

                <div class="category-container">
                    {% for item in category %}
                        <a data-id="{{ item.id }}" class="{{ item.active && 'active' }}" data-text="{{ item.name }}" href="/search/category/{{item.id}}">{{ item.name }} <span class="badge">{{ item.count }}</span></a>
                    {% endfor %}
                </div>

                <div class="tag-container">
                    {% for item in tag %}
                        <a data-id="{{ item.id }}" class="{{ item.active && 'active' }}" data-text="{{ item.name }}" href="/search/tag/{{item.name}}">{{ item.name }} <span class="badge">{{ item.count }}</span></a>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block container %}
    {% if (blog !== undefined) %}
        <div class="result-container">
            {% for item in blog %}
                <div class="blog-detail">
                    <h3 class="title"><a href="/blog/{{item.id}}">{{ item.title }}</a></h3>

                    <div class="tag-list">
                        {% for tagItem in item.tag %}
                            <a class="label" href="/search/tag/{{ tagItem }}">{{ tagItem }}</a>
                        {% endfor %}
                    </div>

                    <div class="info">
                        <p>
                            <a href="javascript:void(0);"><i class="glyphicon glyphicon-user"></i> {{ item.author }}</a>
                        </p>

                        <p>
                            <span class="javascript:void(0);"><i class="glyphicon glyphicon-time"></i> {{ item.update_time|date('Y-m-d H:i:s', -480) }}</span>
                        </p>
                    </div>

                    {% if (item.ext.bg) %}
                        <div class="img-wrap">
                            <img data-src="{{ item.ext.bg }}" onload="$(this).css('opacity',1);jsmod.util.stretchImg(this, $(this).parent().width(), $(this).parent().outerHeight(), true);">
                        </div>
                    {% endif %}

                    <div class="desc markdown-body">
                        {{ item.content_html_lite|safe }}
                    </div>

                    <div class="action">
                        <a href="/blog/{{item.id}}">阅读全文 <i class="glyphicon glyphicon-forward"></i></a>
                    </div>
                </div>
            {% endfor %}

            {% if (blog && blog.length == 0) %}
                <div class="no-result">啊哦，没有查询结果换个条件试试看</div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
